/Addition.class
/Division.class
/Expression.class
/Functions.class
/Interpreter.class
/Multiplication.class
/Pair.class
/Substraction.class
/Variable.class
/pruebasunitarias.class
/pruebasfunciones.class
